@import "template.scss";

.content__wrapper {
  overflow: hidden;

  .content {
    h1 {
      font-size: 48px;
    }
  }

  .list-binatang {
    .card {
      margin: 0 10px;
      width: 200px !important;

      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #000;

        img {
          max-height: 200px;
          min-height: 200px;
          height: 200px;
          margin: auto;
        }

        .card-body {
          h5 {
            font-size: 32px;
          }
        }
      }
    }
  }
}
