@import "template.scss";

.content,
.btn-answer {
  font-size: 48px !important;
  text-align: center;
}

.btn-answer {
  margin: 10px;
}

.message {
  margin-top: 100px;
}

.score-board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -500%);
  padding: 20px;
  background-color: #fff;
  transition: all 2s;

  &__button__wrapper {
    display: flex;
    font-size: 18px !important;
    justify-content: center;
  }
}
