.header {
  height: 100px;
  background-image: url("../image/bg.jpg");
  background-position: center 875px;
  background-size: 1120px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header * {
    margin: 0 10px;
    font-size: 24px; }
  .header .home__wrapper img {
    width: 48px; }
  .header .right__wrapper {
    display: flex; }
    .header .right__wrapper .sound__wrapper button {
      border: 1px solid #ffde59;
      background-color: #fff; }

.full-menu__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffde59;
  text-align: center;
  font-size: 36px;
  transform: translateY(-100vh);
  transition: all 2s;
  z-index: 50; }
  .full-menu__wrapper ul {
    padding: 0 !important;
    margin: 0 !important; }
  .full-menu__wrapper .menu--item {
    height: 100px;
    display: grid;
    place-items: center;
    cursor: pointer; }
  .full-menu__wrapper .menu--item:hover {
    background-color: #ffea8d; }
  .full-menu__wrapper ul li,
  .full-menu__wrapper li a {
    list-style: none;
    text-decoration: none;
    color: #000; }

.content {
  min-height: calc(100vh - (100px + 100px));
  background-image: url("../image/Background.png");
  background-repeat: repeat;
  background-position: center center; }

@font-face {
  font-family: KidsCorner;
  src: url("../font/KidsCorner-Regular-1.otf"); }

.content__wrapper {
  font-family: KidsCorner;
  background-color: #ffea8d; }

.footer {
  height: 100px;
  position: absolute;
  bottom: 0; }
  .footer .logo-kewan__wrapper {
    width: 150px; }
  .footer .logo-kewan {
    width: 100%; }

.content__wrapper .content {
  padding: 20px 0;
  display: flex;
  justify-content: center; }
  .content__wrapper .content .left-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px; }
    .content__wrapper .content .left-content .scene {
      width: 400px;
      height: 400px;
      margin: auto; }
    .content__wrapper .content .left-content .animal-photo {
      display: flex;
      justify-content: center; }
      .content__wrapper .content .left-content .animal-photo .box {
        width: 150px;
        height: 150px;
        background-color: red;
        margin: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
  .content__wrapper .content .right-content .youtube__wrapper {
    width: 90%;
    height: 340px;
    margin: auto;
    padding-bottom: 50px; }
    .content__wrapper .content .right-content .youtube__wrapper iframe {
      width: 100%;
      height: 100%; }
  .content__wrapper .content .right-content .animal-description {
    width: 95%;
    margin: auto; }
    .content__wrapper .content .right-content .animal-description--header {
      display: flex; }
      .content__wrapper .content .right-content .animal-description--header * {
        margin-right: 5px; }
    .content__wrapper .content .right-content .animal-description p {
      font-size: 24px; }
