.header {
  height: 100px;
  background-image: url("../image/bg.jpg");
  background-position: center 875px;
  background-size: 1120px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header * {
    margin: 0 10px;
    font-size: 24px; }
  .header .home__wrapper img {
    width: 48px; }
  .header .right__wrapper {
    display: flex; }
    .header .right__wrapper .sound__wrapper button {
      border: 1px solid #ffde59;
      background-color: #fff; }

.full-menu__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffde59;
  text-align: center;
  font-size: 36px;
  transform: translateY(-100vh);
  transition: all 2s;
  z-index: 50; }
  .full-menu__wrapper ul {
    padding: 0 !important;
    margin: 0 !important; }
  .full-menu__wrapper .menu--item {
    height: 100px;
    display: grid;
    place-items: center;
    cursor: pointer; }
  .full-menu__wrapper .menu--item:hover {
    background-color: #ffea8d; }
  .full-menu__wrapper ul li,
  .full-menu__wrapper li a {
    list-style: none;
    text-decoration: none;
    color: #000; }

.content {
  min-height: calc(100vh - (100px + 100px));
  background-image: url("../image/Background.png");
  background-repeat: repeat;
  background-position: center center; }

@font-face {
  font-family: KidsCorner;
  src: url("../font/KidsCorner-Regular-1.otf"); }

.content__wrapper {
  font-family: KidsCorner;
  background-color: #ffea8d; }

.footer {
  height: 100px;
  position: absolute;
  bottom: 0; }
  .footer .logo-kewan__wrapper {
    width: 150px; }
  .footer .logo-kewan {
    width: 100%; }

.content,
.btn-answer {
  font-size: 48px !important;
  text-align: center; }

.btn-answer {
  margin: 10px; }

.message {
  margin-top: 100px; }

.score-board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -500%);
  padding: 20px;
  background-color: #fff;
  transition: all 2s; }
  .score-board__button__wrapper {
    display: flex;
    font-size: 18px !important;
    justify-content: center; }
